<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles.css">
    <title>Home</title>
</head>
<body>
    <%- include('./layout/headerAdmin.ejs') %>
    <div>
        <div class="center">
            <a href="/cariakun"><img src="black_people.png" alt=""></a>
            <h2>Akun</h2>
        </div>
        <div class="center">
            <a href="/caridata"><img src="chart.png" alt=""></a>
            <h2>Data</h2>
        </div>
        <div class="center">
            <a href="/caristatus"><img src="jam.png" alt=""></a>
            <h2>Status</h2>
        </div>
    </div>
</body>
</html>