<!-- <link rel="stylesheet" href="Styles.css"> -->

<div class="navbar">
    <img src="logomyshirt ver gede.png" alt="">
    <h1>Home</h1>
    <div class="right">
        <a href="/logout">
            <button class="logout-btn">Log out</button>
        </a>
    </div>    
</div>

