<div class="nav-container">
  <ul class="nav-items-group1">
    <li>
      <img class="nav-logo" src="/img_logo.png" alt="hero_image" />
    </li>
    <li>
      <a href="/">Home</a>
    </li>
    <li><a href="/model?start=0">Model</a></li>
    <li><a href="/transaksi">Daftar Transaksi</a></li>
  </ul>
  <div class="nav-items-group2">
    <span>
      <a href="/caricektoko"><img class="nav-icons" src="/img_user.png" alt="icon-user" /></a>
    </span>
    <span>
      <img class="nav-icons" src="/img_chart.png" alt="" />
    </span>
    <a href="/logout"><button class="logout-btn">Log Out</button></a>
  </div>
</div>